<div class="cds--col" >
    <div class="cds--grid" id="error-container">
        <div class="cds--row">
            <div class="cds--col-lg-2"></div>
            <div class="cds--col-lg-8 content-col">
                <svg viewBox="0 0 32 32" class="content-icon">
                    <path d="M24,3H8A2,2,0,0,0,6,5V27a2,2,0,0,0,2,2H18V27H8V21H26V5A2,2,0,0,0,24,3Zm0,16H8V13H24Zm0-8H8V5H24Z"/>
                    <polygon points="29 24.415 27.586 23 25 25.587 22.414 23 21 24.415 23.586 27 21 29.586 22.414 31 25 28.414 27.586 31 29 29.586 26.414 27 29 24.415"/>
                </svg>
                <h1 class="content-title">No content has been imported yet.</h1>
                <p class="content-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper vitae lectus ac euismod. Aliquam velit sapien, sollicitudin sed odio sit amet, convallis mollis mi. Vivamus mollis, erat eget faucibus condimentum, tortor elit scelerisque nulla, et molestie tellus felis sit amet dui.</p>
                <br>
                <a href="/" class="cds--btn cds--btn--primary primary-cta">Go back to the Main page</a>
            </div>

            <div class="cds--col-lg-2"></div>
        </div>
    </div>

</div>