<nav class="bx--pagination-nav" aria-label="pagination" data-pagination-nav >
  <ul class="bx--pagination-nav__list" style="justify-content: center;">
    <li class="bx--pagination-nav__list-item">

      <a  {{if .paginator.HasPrev}}href="{{$.ctx.ctx.Permalink}}page/{{sub .paginator.PageNumber 1}}"{{end}}
          class="bx--pagination-nav__page bx--pagination-nav__page--direction {{if .paginator.HasPrev}}{{else}}bx--pagination-nav__page--disabled{{end}} "
          data-page-previous
          aria-disabled="{{if .paginator.HasPrev}}false{{else}}true{{end}}"
      >
        <span class="bx--pagination-nav__accessibility-label">Previous page </span>
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--pagination-nav__icon" width="5" height="8" viewBox="0 0 5 8" aria-hidden="true"><path d="M5 8L0 4 5 0z"></path></svg>
      </a>
    </li>

    {{range (seq .paginator.TotalPages)}}
    <li class="bx--pagination-nav__list-item">
      <a href="{{$.ctx.ctx.Permalink}}page/{{.}}"
         class="btx-btn bx--pagination-nav__page  {{if eq . $.paginator.PageNumber}}bx--pagination-nav__page--disabled bx--pagination-nav__page--active{{end}} "
         data-page="{{.}}"
         data-page-button
         data-page-active="{{if eq . $.paginator.PageNumber}}true{{else}}false{{end}}"
         aria-current="page"
         aria-disabled="{{if eq . $.paginator.PageNumber}}true{{else}}false{{end}}"
      >
        <span class="bx--pagination-nav__accessibility-label">page </span>{{.}}
      </a>
    </li>
    {{end}}

    <li class="bx--pagination-nav__list-item">
      <a  {{if .paginator.HasNext}} href="{{$.ctx.ctx.Permalink}}page/{{add .paginator.PageNumber 1}}" {{end}}
          class="bx--pagination-nav__page bx--pagination-nav__page--direction {{if .paginator.HasNext}}{{else}}bx--pagination-nav__page--disabled{{end}}"
          data-page-next
          aria-disabled="{{if .paginator.HasNext}}false{{else}}true{{end}}"
      >
        <span class="bx--pagination-nav__accessibility-label">Next page </span>
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--pagination-nav__icon" width="5" height="8" viewBox="0 0 5 8" aria-hidden="true"><path d="M0 0L5 4 0 8z"></path></svg>
      </a>
    </li>
  </ul>
</nav>