{{ $allBlogs:= where .ctx.Site.Pages "Section" "blog"   }}
{{ $blogPosts:=(where $allBlogs ".IsPage" true).Reverse}}
{{ $listPage:=(first 1 (where $allBlogs ".IsNode" true)) }}
{{ $paginator:= .ctx.Paginate $blogPosts 12}}
{{if .onHome}}
{{if gt (len $blogPosts) 0}}
<section >
    <div class="cds--grid" >
        <div class="cds--row">
            <div class="cds--col-lg-2">
                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
            </div>
            <div class="cds--col">
                <div class="cds--grid--condensed">
                    <div class="cds--row">
                        {{range first 5 $blogPosts}}
                        <div class="cds--col-md-4 cds--col-lg-5 ">
                            {{- partial "components/card.html"
                            ( dict
                            "ctx" .
                            "media" false
                            "heading" .Params.Title
                            "copy" .Params.Description
                            "link" .Permalink
                            "ctaText" "Nullam id efficitur"
                            )
                            -}}
                        </div>
                        {{end}}
                        {{if gt (len $blogPosts) 5}}
                        {{range $listPage}}
                        <div class="cds--col-md-5 cds--col-lg-5 cds--col-xlg-4">
                            {{- partial "components/card.html"
                            ( dict
                            "ctx" .
                            "heading" "Nunc lobortis"
                            "copy" .Params.Description
                            "link" .Permalink
                            "ctaText" "Nullam id efficitur"
                            "index" true
                            )
                            -}}
                        </div>
                        {{end}}
                        {{end}}
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
    {{end}}
    {{else}}
    <section  >
        <div class="cds--grid" >
            <div class="cds--row">
                {{if gt (len $blogPosts) 0}}
                <div class="cds--col-lg-2 " >
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                    <br>
                    <p>Aliquam nulla nisi, accumsan in nisi eget, semper tincidunt urna. </p>
                    <br>
                </div>
                <div class="cds--col">
                    <div class="cds--grid--condensed">
                        <div class="cds--row list-content-row" >
                            {{if gt (len $blogPosts) 0}}
                            {{range $paginator.Pages}}
                            <div class=" cds--col-md-5 cds--col-lg-5 cds--col-xlg-4">
                                {{- partial "components/card.html"
                                ( dict
                                "ctx" .
                                "media" false
                                "heading" .Params.Title
                                "copy" .Params.Description
                                "link" .Permalink
                                "ctaText" "Aenean id"
                                )
                                -}}
                            </div>
                            {{end}}

                            {{else}}
                            <h1>Mauris posuere a diam et interdum.</h1>
                            {{end}}
                        </div>
                        {{if gt (len $blogPosts) 0}}
                        <div class="cds--row">
                            <div class="cds--col" ></div>

                            <div class="cds--col" >
                                {{- partial "components/pagination" (dict "ctx" . "paginator" $paginator) -}}
                            </div>
                            <div class="cds--col" ></div>
                        </div>
                        {{end}}


                    </div>
                </div>
                {{else}}
                {{- partial "components/error.html" . -}}
                {{end}}
            </div>
        </div>
        {{end}}
    </section>