<header class="cds--custom--header" role="banner" aria-label="IBM Platform Name" data-header>
    <a class="cds--skip-to-content" href="#main-content" tabindex="0">Skip to main content</a>
    <input type="checkbox" id="cds--custom--header__menu-trigger-input"  aria-hidden="true" checked="false">
    <label for="cds--custom--header__menu-trigger-input" class="cds--custom--header__menu-trigger cds--custom--header__action"
           aria-label="Open menu" title="Toggle menu">
    <svg id="menu-closed" focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"  width="24" height="24" viewBox="0 0 32 32"><path d="M24 9.4L22.6 8 16 14.6 9.4 8 8 9.4 14.6 16 8 22.6 9.4 24 16 17.4 22.6 24 24 22.6 17.4 16 24 9.4z"></path></svg>
    <svg id="menu-opened" focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"  width="24" height="24" viewBox="0 0 20 20"><path d="M2 14.8H18V16H2zM2 11.2H18V12.399999999999999H2zM2 7.6H18V8.799999999999999H2zM2 4H18V5.2H2z"></path></svg>
    </label>
    <a class="cds--custom--header__name" href="javascript:void(0)" title="">
<!--        <span class="cds&#45;&#45;custom&#45;&#45;header__name&#45;&#45;prefix">-->
<!--          DB-->
<!--        </span>-->
        DB
    </a>
    <!--
      We're designating the header navigation as a menubar. As a result, we
      have each link designated as a menuitem. Links have a tabindex of "0" since
      Safari does not provide links focus by default.
    
      For sub-menus, we are following the guidance specified here:
      https://www.w3.org/TR/wai-aria-practices/examples/menubar/menubar-1/menubar-1.html#rps_label
    
      Most noticeably, the first menuitem in a submenu should receive a tabindex of
      "0", while the rest should get "-1"
    -->
    <nav class="cds--custom--header__nav" aria-label="Platform Name" data-header-nav>
<!--        <div style="position: absolute;top: 0;left: 0;bottom: 0;width: 50vw;height: 100vh;"></div>-->
        <ul class="cds--custom--header__menu-bar" aria-label="Platform Name">
            {{ range $i,$item:=.Site.Menus.main }}
            <li class="{{if eq $item.URL (substr (print "/" $.File.Dir) 0 -1)}} cds--custom--header__submenu--current {{end}}" >
                <a class="cds--custom--header__menu-item" href="{{ $item.URL | relLangURL }}" tabindex="0">
                    {{ i18n $item.Name |title}}
                </a>
            </li>
            {{end}}
            {{range .Site.Menus.contact}}
            <li class="{{if eq .URL (substr (print "/" $.File.Dir) 0 -1)}} cds--custom--header__submenu--current {{end}}" >
            <a class="cds--custom--header__menu-item" href=" {{.URL|relLangURL}}" tabindex="0">
                {{ i18n .Name |title}}
            </a>
            </li>
            {{end}}
            <li class="cds--custom--header__submenu " >
                <a class="cds--custom--header__menu-item cds--custom--header__menu-title"  tabindex="0">
                    More sections
                    <svg class="cds--custom--header__menu-arrow" width="12" height="7" aria-hidden="true">
                        <path d="M6.002 5.55L11.27 0l.726.685L6.003 7 0 .685.726 0z" />
                    </svg>
                </a>
                <ul class="cds--custom--header__menu" aria-label="L1 link 3">
                    {{range .Site.Menus.more}}
                    <li role="none">
                        <a class="cds--custom--header__menu-item" href="{{.URL|relLangURL}}" tabindex="-1">
              <span class="cds--text-truncate--end">
                {{i18n .Name |title}}
              </span>
                        </a>
                    </li>
                    {{end}}
                </ul>
            </li>
        </ul>
    </nav>
    <div class="cds--custom--header__global">
        {{range .Site.Params.ownerSocialLinks}}
        <a class="cds--custom--header__menu-trigger cds--custom--header__action" rel="noopener noreferrer"
           aria-label="Action 1" href="{{.link}}" target="_blank"
                title="Action 1">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"  width="24" height="24" viewBox="0 0 32 32">
                {{safeHTML .path}}
            </svg>
        </a>
        {{end}}
    </div>
</header>