{{define "main"}}
<section class="cds--custom--leadspace">
    <div class="cds--grid--full-width">
        <div class="cds--row">
            <div class="cds--column">
                <h1 class="cds--custom--title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
            </div>
            <div class="cds--column">
                <button class="cds--btn cds--btn--primary" type="button">
                    Button
                </button>
            </div>
        </div>

    </div>

</section>
<section>
    <p>Test</p>
</section>
{{end}}