{{define "main"}}
<section class="cds--custom--leadspace">
    <div class="cds--custom--bg"></div>
    <div class="cds--grid--full-width">
        <div class="cds--row">
            <div class="cds--column">
                <h1 class="cds--custom--leadspace--heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
            </div>
            <div class="cds--column">
                <p class="cds--custom--leadspace--copy cds--text-truncate-end">
                    Quisque sodales nunc risus, id lacinia orci vulputate vitae.
                    Nam sit amet quam bibendum, scelerisque quam ut, hendrerit odio.</p>
                <div class="cds--custom--leadspace--button-group">
                    <button class="cds--btn cds--btn--primary" type="button">
                        Explore my portfolio
                    </button>
                    <button class="cds--btn cds--btn--secondary" type="button">
                        Let's have a chat
                    </button>
                </div>

            </div>
        </div>

    </div>

</section>
<section>
    <p>Test</p>
</section>
{{end}}