{{define "main"}}
<section class="cds--custom--leadspace">
    <div class="cds--custom--bg"></div>
    <div class="cds--grid">
        <div class="cds--row">
            <div class="cds--column">
                <h1 class="cds--custom--leadspace--heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
            </div>
            <div class="cds--column">
                <p class="cds--custom--leadspace--copy cds--text-truncate-end">
                    Quisque sodales nunc risus, id lacinia orci vulputate vitae.
                    Nam sit amet quam bibendum, scelerisque quam ut, hendrerit odio.</p>
                <div class="cds--custom--leadspace--button-group">
                    <button class="cds--btn cds--btn--primary" type="button">
                        Explore my portfolio
                    </button>
                    <button class="cds--btn cds--btn--secondary" type="button">
                        Let's have a chat
                    </button>
                </div>

            </div>
        </div>

    </div>

</section>
<section id="skills-section" >
    <div class="cds--grid">
        <div class="cds--row">
            <div class="cds--col-lg-3">
                <h5 class="section-heading">
                    Duis euismod efficitur purus, dapibus rhoncus mi tristique sit amet.
                </h5>

            </div>
            <div class="cds--col-md cds--col-lg">
                <p>Suspendisse potenti. In vel felis quam. Nulla erat nisl, aliquam ut velit non, venenatis porttitor dolor. Nullam vitae risus vel risus sagittis cursus. Fusce sit amet mi mollis, facilisis justo fermentum, tincidunt dolor. Mauris gravida libero a ligula molestie tincidunt. Duis sodales massa vitae felis pretium tempus. Praesent venenatis, dui vitae volutpat malesuada, orci nulla gravida dui, at faucibus lacus urna at sapien. Curabitur venenatis vitae risus vel convallis. Quisque vel nisl at lorem suscipit fermentum eu eget ex. Vivamus id orci non massa pulvinar laoreet. Fusce vehicula est at ligula pulvinar elementum. Suspendisse ex sapien, posuere ut nisi sit amet, dapibus faucibus nibh. Aliquam in fringilla erat. Duis cursus aliquet aliquet.</p>
                <div class="cds--structured-list">
                    <div class="cds--structured-list-thead">
                        <div class="cds--structured-list-row cds--structured-list-row--header-row">
                            <div class="cds--structured-list-th">Core technologies</div>
                            <div class="cds--structured-list-th">Frameworks / Libraries / Tool kits / Utilities</div>
                        </div>
                    </div>
                    <div class="cds--structured-list-tbody">
                        {{range .Site.Params.ownerSkillsSet}}
                        <div class="cds--structured-list-row">
                            <div class="cds--structured-list-td cds--structured-list-content--nowrap">{{.title}}</div>
                            <div class="cds--structured-list-td">

                                {{range .libs}}
                                <span >
                                {{.title}},
                                </span>
                                {{end}}

                                <div>
                                </div>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>

                <div class="bx--col">
                    <img alt="GitHub contributions" src="https://ghchart.rshah.org/dntzbgh" width="100%">
                </div>
            </div>
        </div>
    </div>
</section>



{{- partial "pages/blog-list.html" (dict "ctx" . "onHome" true) -}}

{{- partial "pages/projects-list.html" (dict "ctx" . "onHome" true) -}}

{{end}}